/* ---- Base Styles ---- */

* {
	font-family: 'Roboto', Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #242424;
}

h1 {
	margin: 0;
}

ul,
ol {
	list-style: none;
}

h2,
a {
	text-transform: uppercase;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: rgba(46, 80, 114, 1);
	transition: 0.2s ease-in;
}
a:hover {
	opacity: 0.5;
}

p {
	line-height: 1.5;
	font-weight: lighter;
}
p strong {
	font-weight: bold;
}

address {
	font-style: normal;
}

.name,
.main-footer {
	color: rgb(46, 80, 114);
}

/* ---- Container Styles ---- */

.main-header,
.main-content,
.contact,
.main-footer {
	width: 95%;
	margin: auto;
	text-align: center;
}

.header-container,
.footer-container {
	background-color: #fbfbfb;
}

/* ---- Nav Styles ---- */

.main-nav {
	margin: 1.5em 0 2.5em;
}

.main-nav li {
	background-color: #fff;
	margin-bottom: 0.3em;
}

.main-nav a {
	display: block;
	padding: 0.75rem;
	font-size: 0.9em;
}

.full-nav {
	display: none;
}

/* ---- Header Styles ---- */

.main-header {
	padding-top: 1.5em;
	padding-bottom: 2.5em;
}

.name {
	font-size: 1.5em;
}

.profile-img {
	width: 75%;
	margin: 0;
}

.bio {
	margin-top: 1em;
	margin-bottom: 0;
}

.bio,
.contact p {
	color: #8a8a8a;
	font-size: 1em;
}

/* ---- Content Styles ---- */

.project-container {
	padding: 1.5em 0;
}

.project {
	padding-bottom: 2rem;
}

.project-img {
	width: 100%;
}

.project-title {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.project p {
	padding: 0 0.3em;
	margin-top: 0;
	margin-bottom: 0;
}

.skills {
	font-weight: 300;
	padding-bottom: 2em;
}

.col li {
	padding-bottom: 1em;
}

.main-content,
.contact {
	padding-top: 3em;
}

.contact {
	padding-bottom: 3em;
}

.contact strong {
	padding-left: 0.5em;
}

.address {
	padding-top: 0.5em;
}

.address p {
	margin-top: 0;
}

.section-title {
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 1.5rem;
}

/* ---- Footer Styles ---- */

.main-footer {
	border-top: 1px solid #d3d3d3;
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8em;
	font-weight: 700;
}

/* ---- Clearfix ---- */
.group::after {
	content: '';
	clear: both;
	display: table;
}

/* ---- Tablet Media Query ---- */

@media (min-width: 768px) {
	/* ---- Nav Styles ---- */

	.main-nav {
		margin-top: 2em;
	}

	.main-nav li {
		display: inline-block;
		background-color: transparent;
	}

	.main-nav a {
		padding: 0 1em;
	}

	/* ---- Header Styles ---- */

	.main-header {
		padding-top: 2em;
	}

	.profile-img {
		float: right;
		width: 40%;
		margin-top: 0.3em;
	}

	.bio {
		float: left;
		width: 60%;
		margin-top: 0;
		padding-right: 1em;
		text-align: left;
	}

	/* ---- Content Styles ---- */

	.project-container {
		padding-bottom: 0;
	}

	.project {
		float: left;
		width: 50%;
		padding: 0 0.3em;
		min-height: 400px;
	}

	.project p {
		padding: 0 2em;
	}

	.col {
		float: left;
	}

	.primary,
	.secondary,
	.tertiary {
		width: 33%;
	}

	.bio,
	.contact p {
		font-size: 1.1em;
	}

	.contact {
		width: 65%;
	}

	.contact .section-title,
	.skills .section-title {
		margin-bottom: 3rem;
	}

	.contact p {
		margin: 0;
	}

	.address {
		padding-top: 1em;
	}

	.address p {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	/* ---- Footer Styles ---- */

	.main-footer {
		height: 6rem;
		padding-bottom: 2rem;
	}

	.small-nav {
		display: none;
	}

	.full-nav {
		display: inline-block;
	}

	.full-nav li {
		float: left;
		padding-left: 2em;
	}
}

/* ---- Large Screen Media Query ---- */

@media (min-width: 1024px) {
	/* ---- General Styles ---- */
	body {
		background-color: #fbfbfb;
	}

	.bio,
	.contact p {
		font-size: 1.2em;
	}

	/* ---- Nav Styles ---- */
	.main-nav {
		float: right;
		margin-top: 0;
	}

	.main-nav li,
	.full-nav li {
		padding-left: 1.25rem;
	}

	.main-nav a {
		padding: 0;
	}

	/* ---- Header Styles ---- */

	.main-header {
		padding-top: 3em;
		width: 85%;
		max-width: 1000px;
	}

	.name {
		float: left;
	}

	.bio {
		padding-right: 2rem;
	}

	/* ---- Content Styles ---- */
	.main-content {
		width: 95%;
		max-width: 1100px;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		background-color: #fff;
	}

	.project-container {
		padding-bottom: 1em;
	}

	.project {
		width: 33%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		min-height: 350px;
	}

	.project p {
		padding: 0 0.25em;
	}

	.skills {
		width: 80%;
		margin: auto;
	}

	.contact {
		width: 55%;
		max-width: 670px;
		padding-bottom: 4em;
	}

	/* ---- Footer Styles ---- */
	.main-footer {
		height: 4rem;
		padding-bottom: 0;
	}
}
