/* CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
}


body {
  background: #ddd;
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 1rem;
  line-height: 1.5;
}

h2, h1 {
  padding: 10px;
  font-weight: 500;
}


/* .showcase h1, .showcase h2 {
  letter-spacing: 1px;
} */


.main-nav ul {
  list-style: none;
}


.main-nav a {
  background: var(--primary);
  text-decoration: none;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);

  display: block;
}



.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: 0;

}


.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}




div .portfolio-box, div .contact, .skills {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}


img {
  width: 100%;
  display: block;
}

.wrapper {
  margin: auto;
}



.main-page {
  padding-top: 2em;
  text-align: center;
  border:red solid 1px;
}


.main-nav li {
  margin: 10px;
  padding: 10px;
  background-color: white;
  display: block;
  font-size: 1.125em;
  text-align: center;
  border: green solid 1px;
}

.profile-picture img {
  width:100%;
  /* padding: 10px; */
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: yellow solid 1px;
  
}




header {
  padding-bottom: 20px;
  color: (var(--dark));
  text-align: center;
}




.main-header {
  margin: 5px;
  padding: 30px 20px 20px;
}


.portfolio-boxes {
  background-color: var(--dark);
  padding: 1rem;
  
}

.portfolio-boxes h1, .portfolio-boxes h2, .portfolio-boxes p {
  color: var(--light);
  /* text-align: center; */
}


.portfolio-box img {
  border-radius: 10px;
 

}








.clearfix::after {
  content: "";
  display: block;
  clear: both;
}










/* Navigation */













/* Top Container */


/* .profile-picture div, .contact div {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}



.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  'showcase showcase profile-picture'
  'showcase showcase profile-picture';
  border:red solid 1px;

}






.top-container div {
  margin: 5px;
  padding: 30px 20px 20px;
}





.portfolio-box {
  background: var(--primary);
  text-align: left;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  
}

.portfolio-box h2 {
  text-align: center;
}

.portfolio-box img {
  width: 100%;
  box-shadow: var(--shadow);
}


.skills h1 {
  text-align: center;
  
  

}


.skills img {
  display: grid;
  grid-gap: 20px;
  
  background: (var(--primary));
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* footer */
/* footer h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--dark);
  text-align: center;
  padding: 1rem;
  border: blueviolet solid 1px;

}
footer p {
  margin-top: 1rem;
  text-align: center;

  border: green solid 1px;
}





.footer-nav {
  margin-top: 5rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

.footer-nav a {
  color: var(--light);
  text-decoration: none;

}

.footer-nav a:hover {
  background: var(--light);
  color: var(--dark);
  text-decoration: none;
} */ */





